.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  min-height: 95vh;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.categoryList {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.categoryItem {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.categoryItem:hover {
  background-color: #e3fff1;
  transform: scale(1.05);
}

.categoryItem.active {
  background-color: var(--secondary-bg);
  color: white;
  font-weight: bold;
}

@media (min-width: 200px) and (max-width: 600px) {
  .container {
    gap: 0;
  }
}
